[masters]
%{ for master in masters ~}
${master}
%{ endfor ~}

[workers]
%{ for worker in workers ~}
${worker}
%{ endfor ~}

[all:vars]
kubernetes_version=1.28.0
pod_network_cidr=10.244.0.0/16
service_cidr=10.96.0.0/12
ansible_ssh_extra_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'